*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width:400px;
    height:400px;
    padding: 12px 0 !important; 
    background-color: #fff !important;
    color: #000 !important; 
}



.input{
    background-color:#fff!important;
}