<div ng-controller="homeCtrl" class="d-flex flex-column mb-2">
        <div>
                <img class="img-searche" src="https://i.ibb.co/Dfpbgfv/72342-welcome.gif" " alt="search-gif" srcset="">
                <p class="font-welcome signupbtn">Dear {{name}}, to use this extension kindly click the button below to visit jumia.com.ng</p>
        </div>
        <a  ng-click="vistWeb()"  class="btn btn-block btn-info mt-2 mb-3 d-flex justify-content-between align-items-center mybtn align-self-center signupbtn"> <div class="iconcon d-flex align-items-center justify-content-cente"><img class="iconimg" src="../assets/jumia.svg" alt="jumia-logo"> </div> <span class="visit-text">Visit Jumia</span>  </a>
</div>