<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- style links  -->
    <link rel="stylesheet" href="../style/bootstrap.min.css">
    <link rel="stylesheet" href="../style/style.css">
    <!-- angular js files -->
    <script src="../js/lib/angular.min.js"></script>
    <script src="../js/lib/angular-ui-router.min.js"></script>
    <script src="../js/app/popup.js"></script>

    <title>Jumia webscrapper</title>
</head>
<body ng-app="jumiascrapper">
    <div class="container">
        <div class="pt- row text-center">

            <div class="col-m-6">
                <div  ng-controller="popupCtrl" class="container">
                    <div class="page-header">
                        <h3>Jumia Scrapper Tool</h3>
                    </div>
                    <div ui-view></div>
                </div>
            </div>
        </div>

    </div>
 
</body>
</html>