<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap" rel="stylesheet">
    <!-- style links  -->
    <link rel="stylesheet" href="../style/bootstrap.min.css">
    <link rel="stylesheet" href="../style/style.css">
    <!-- angular js files -->
    <script src="../js/lib/angular.min.js"></script>
    <script src="../js/lib/angular-ui-router.min.js"></script>
    <script src="../js/app/popup.js"></script>
    <title>Shopply Chrome Extension</title>
</head>
<body ng-app="jumiascrapper">
    <div class="container p-4">
        <div class="row text-center">
            <div class="col-m-6">
                <div  ng-controller="popupCtrl">
                    <div class="page-header">
                        <a href="https://www.robotdorm.com/" target='_blank' class="d-flex justify-content-center align-items-center justify-content-between text-decoration-none">
                            <img src="../icon16.png" alt="chrome-img">
                            <p class="header-title ms-2">RobotDorm Extension</p>
                        </a>
                        <h5 class="header-beta">Beta</h5>
                    </div>
                    <div ui-view></div>
                    <div class="row">
                        <div class="jumbotron text-muted text-center d-flex align-center justify-content-end">
                            <a class="signupbtn btn-contact p-2 mt-3" target="_blank" href="https://wa.link/f2fjvu"><i class="fab fa-whatsapp"></i> Contact Support</a>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>