<div ng-controller="ScraperCtrl">

    <p>Hi there {{name}}, what would you like to scrape your amazon Today ?</p>

    <a ng-click="showSearchOptions()" class="btn btn-block btn-info mb-3"> scrape search results</a>
    <br/>
    <a ng-click="fetchHistory()" class="btn btn-block btn-info mb-3">purchase history</a>
    <br/>
    <div class="row">
        <div class="jumbotron text-muted text-center">
            <p> Need Assistance 
                <a target="_blank" href="#">Contact Support</a>
            </p>

        </div>
    </div>


</div>