<div ng-controller="ScraperCtrl">
        <div>
            <img class="img-search" src="https://i.ibb.co/jvtWgtT/60712-browsing-1.gif" " alt="search-gif" srcset="">
            <p class="signupbtn"><span class="font-welcome">To access the keyword research feature, search for a product</span></p>
            
        </div>
    <a ng-click="keywordSearch()" id="keywordbtn" class="btn btn-block btn-info mt-2 mb-3 {{search}}"><i class="fas fa-search-dollar"></i> Keyword Research Tool</a>
    <br/>
    <br/>
</div>